In [16]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/future-skills/Data_1.xlsx
/kaggle/input/future-skills/Data_2.xlsx

In [17]:
import re #importing regular expression

In [18]:
input_1 = pd.read_excel('/kaggle/input/future-skills/Data_1.xlsx')
input_2 = pd.read_excel('/kaggle/input/future-skills/Data_2.xlsx')

In [19]:
input_1

    S No           Name            Team Name  User ID
0      1      Soumita M  Winning Culture Lab      280
1      2     Subhangi 0  Winning Culture Lab       75
2      3    Nitin Shane  Winning Culture Lab     1124
3      4         Merwin               Mentor      295
4      5  fardinkamal62    Human Capital Lab      263
5      6  __riddhi_213_    Human Capital Lab      504
6      7    Rohit Dutta               Mentor      266
7      8       imshawan             Tech Lab       71
8      9   Anuraj_Saini        BrandTech Lab      342
9     10        sharath  Student Unicorn Lab     3367
10    11        Ronak 0             Tech Lab      302
11    12  Amrit Malviya        Brandtech Lab      336
12    13        Saurabh               Mentor      271
13    14    darshimalde  Student Unicorn Lab     3169
14    15         Shagun             Tech Lab      100
15    16         Ayisha  Student Unicorn Lab     3406
16    17         Palash            Growpital       69
17    18          raman            Growpital      539
18    19        Nishant            Growpital      299
19    20         Vatsal              Kringle     3408
20    21       devmenkr              Kringle      360

In [20]:
merged_data = pd.merge(input_1, input_2, left_on="User ID", right_on="uid")
merged_data['Team Name'] = merged_data['Team Name'].str.lower()

In [21]:
team_avg = merged_data.groupby('Team Name').agg({'total_statements': 'mean', 'total_reasons': 'mean'}).reset_index()

In [22]:
team_avg.round(2)

             Team Name  total_statements  total_reasons
0        brandtech lab              4.50           5.50
1            growpital              5.00           5.67
2    human capital lab              2.00           4.50
3              kringle              4.50           4.50
4               mentor              7.33           7.67
5  student unicorn lab              7.33           6.33
6             tech lab              9.00          10.00
7  winning culture lab             12.67          16.00

In [23]:
team_avg['Rank'] = team_avg['total_statements'] + team_avg['total_reasons']
team_avg = team_avg.sort_values(by='Rank', ascending=False).reset_index(drop=True)
team_avg['Rank'] = team_avg.index + 1

In [24]:
team_avg

             Team Name  total_statements  total_reasons  Rank
0  winning culture lab         12.666667      16.000000     1
1             tech lab          9.000000      10.000000     2
2               mentor          7.333333       7.666667     3
3  student unicorn lab          7.333333       6.333333     4
4            growpital          5.000000       5.666667     5
5        brandtech lab          4.500000       5.500000     6
6              kringle          4.500000       4.500000     7
7    human capital lab          2.000000       4.500000     8

In [25]:
team_avg_df = team_avg.rename(columns={'total_statements': 'Average Statements', 'total_reasons': 'Average Reasons', 'Team Name': 'Thinking Teams Leaderboard' , 'Rank' : 'Team_Rank'})

In [26]:
team_avg_df

  Thinking Teams Leaderboard  Average Statements  Average Reasons  Team_Rank
0        winning culture lab           12.666667        16.000000          1
1                   tech lab            9.000000        10.000000          2
2                     mentor            7.333333         7.666667          3
3        student unicorn lab            7.333333         6.333333          4
4                  growpital            5.000000         5.666667          5
5              brandtech lab            4.500000         5.500000          6
6                    kringle            4.500000         4.500000          7
7          human capital lab            2.000000         4.500000          8

In [27]:
team_avg_df["Thinking Teams Leaderboard"] = team_avg_df["Thinking Teams Leaderboard"].apply(lambda x: "".join(word.title() for word in x.split()))

In [28]:
team_avg_df.set_index("Team_Rank", inplace=True)

In [29]:
team_avg_df

          Thinking Teams Leaderboard  Average Statements  Average Reasons
Team_Rank
1                  WinningCultureLab           12.666667        16.000000
2                            TechLab            9.000000        10.000000
3                             Mentor            7.333333         7.666667
4                  StudentUnicornLab            7.333333         6.333333
5                          Growpital            5.000000         5.666667
6                       BrandtechLab            4.500000         5.500000
7                            Kringle            4.500000         4.500000
8                    HumanCapitalLab            2.000000         4.500000

In [45]:
team_avg_df.to_excel('output1.xlsx' , index = False)

Output 2

In [30]:
merged_data

,S No_x,Name,Team Name,User ID,S No_y,name,uid,total_statements,total_reasons,Unnamed: 5,...,Statement 7,Statement 8,Statement 9,Statement 10,Statement 11,Statement 12,Statement 13,Statement 14,Statement 15,Statement 16
0,1,Soumita M,winning culture lab,280,1,Soumita M,280,13,21,NaN,...,he starts witha question- how one is grown up ...,to act on the valuation the legibility comes w...,"if there are numbers, u can move the numbers i...","if there are numbers, u can move the numbers i...",taught in pure number,taught in pure number,while counting students timing should be noted...,--,--,--
1,2,Subhangi 0,winning culture lab,75,2,Subhangi 0,75,13,16,NaN,...,perfect time to teach myself procrastination.,Only when you are told that you have to do thi...,there is a sweet spot where originals seem to ...,Wait till last minute that they have any new i...,pre-procrastinators - rated as less creative t...,"Kind of idea I test, challenge to test the data,",sometimes 100% effort leads to 0% result,--,--,--
2,3,Nitin Shane,winning culture lab,1124,3,Nitin Shane,1124,12,11,NaN,...,courage to be original,There is self doubt -- paralysing,makes you take unexpected leaps,The modern proscrastinators are effective,The precratinators are less creative --,understanding the question is more imp,NaN,--,--,--
3,4,Merwin,mentor,295,4,Merwin,295,13,12,NaN,...,The tides are higher during full moon days.,"During Full Moon, high tides are present.",The Sky appears blue,Our Solar system is part of the Milky Way Galaxy,There are eight planets in our Solar System,The earth is round.,why sharing pareto's law is significant?,--,--,--
4,5,fardinkamal62,human capital lab,263,5,fardinkamal62,263,2,2,NaN,...,--,--,--,--,--,--,--,--,--,--
5,6,__riddhi_213_,human capital lab,504,6,__riddhi_213_,504,2,7,NaN,...,--,--,--,--,--,--,--,--,--,--
6,7,Rohit Dutta,mentor,266,7,Rohit Dutta,266,3,3,NaN,...,--,--,--,--,--,--,--,--,--,--
7,8,imshawan,tech lab,71,8,imshawan,71,9,9,NaN,...,You can't doubt you need a lot of bad ideas to...,he was playing the video games,we have to generate more ideas to be original,--,--,--,--,--,--,--
8,9,Anuraj_Saini,brandtech lab,342,9,Anuraj_Saini,342,7,7,NaN,...,originals are afraid of failing,NaN,--,--,--,--,--,--,--,--
9,10,sharath,student unicorn lab,3367,10,sharath,3367,8,8,NaN,...,be in the kind of person who looks for a bette...,be in the kind of person who looks for a bette...,--,--,--,--,--,--,--,--
10,11,Ronak 0,tech lab,302,11,Ronak 0,302,16,19,NaN,...,that panic when you have something in deadline.,that panic when you have something in deadline.,he traded hair for teeth,people who procastinate are creative.,people who waits over last minute goofs up,originals are neither precastinators nor proca...,originals are non conformists.,originals are non conformists.,recognising the originals and becoming like them,adam took nintendo games very seriously. he di...
11,12,Amrit Malviya,brandtech lab,336,12,Amrit Malviya,336,2,4,NaN,...,--,--,--,--,--,--,--,--,--,--
12,13,Saurabh,mentor,271,13,Saurabh,271,6,8,NaN,...,--,--,--,--,--,--,--,--,--,--
13,14,darshimalde,student unicorn lab,3169,14,darshimalde,3169,3,3,NaN,...,--,--,--,--,--,--,--,--,--,--
14,15,Shagun,tech lab,100,15,Shagun,100,2,2,NaN,...,--,--,--,--,--,--,--,--,--,--
15,16,Ayisha,student unicorn lab,3406,16,Ayisha,3406,11,8,NaN,...,more orginal more idea needed to succeed,greatest people fail because they are not tryi...,greatest people fail because they are not tryi...,being a person looks for improvement and take ...,self doubt-paralyzing,--,--,--,--,--
16,17,Palash,growpital,69,17,Palash,69,6,7,NaN,...,--,--,--,--,--,--,--,--,--,--
17,18,raman,growpital,539,18,raman,539,5,5,NaN,...,--,--,--,--,--,--,--,--,--,--
18,19,Nishant,growpital,299,19,Nishant,299,4,5,NaN,...,--,--,--,--,--,--,--,--,--,--
19,20,Vatsal,kringle,3408,20,Vatsal,3408,2,2,NaN,...,--,--,--,--,--,--,--,--,--,--
20,21,devmenkr,kringle,360,21,devmenkr,360,7,7,NaN,...,But originals take time.,--,--,--,--,--,--,--,--,--

In [31]:
merged_data = merged_data.sort_values(by=["total_statements", "total_reasons"], ascending=False)

In [32]:
rank_df = pd.DataFrame({
    'Rank': (merged_data["total_statements"] + merged_data["total_reasons"]).rank(method='min', ascending=False).astype(int)
})

In [33]:
merged_df = pd.concat([merged_data, rank_df], axis=1)

In [34]:
output_df = merged_df.loc[:, ["Rank", "name", "uid", "total_statements", "total_reasons"]]

In [35]:
output_df.set_index("Rank", inplace=True)

In [36]:
output_df["name_lower"] = output_df["name"].str.lower()

In [37]:
output_df["name_lower"] = output_df["name_lower"].str.replace('[^A-Za-z\s]+', '')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [38]:
output_df = output_df.sort_values(by=["Rank", "name_lower"], ascending=[True, True])

In [39]:
output_df['name_lower']

Rank
1            ronak
2         soumita m
3         subhangi
4            merwin
5       nitin shane
6            ayisha
7          imshawan
8           sharath
9       anurajsaini
9          devmenkr
9           saurabh
12           palash
13            raman
14          nishant
14           riddhi
16    amrit malviya
16      darshimalde
16      rohit dutta
19      fardinkamal
19           shagun
19           vatsal
Name: name_lower, dtype: object

In [40]:
output_df = output_df.drop('name_lower', axis=1)

In [41]:
output_df = output_df.rename(columns={'Rank' : 'Actual_Rank','name': 'Name', 'uid': 'UID', 'total_statements': 'No. of Statements', 'total_reasons' : 'No. of Reasons'})

In [42]:
output_df['Increasing_order_Rank'] = output_df.reset_index().index + 1

In [43]:
output_df

,Name,UID,No. of Statements,No. of Reasons,Increasing_order_Rank
Rank,,,,,
1,Ronak 0,302,16,19,1
2,Soumita M,280,13,21,2
3,Subhangi 0,75,13,16,3
4,Merwin,295,13,12,4
5,Nitin Shane,1124,12,11,5
6,Ayisha,3406,11,8,6
7,imshawan,71,9,9,7
8,sharath,3367,8,8,8
9,Anuraj_Saini,342,7,7,9
9,devmenkr,360,7,7,10
9,Saurabh,271,6,8,11
12,Palash,69,6,7,12
13,raman,539,5,5,13
14,Nishant,299,4,5,14
14,__riddhi_213_,504,2,7,15
16,Amrit Malviya,336,2,4,16
16,darshimalde,3169,3,3,17
16,Rohit Dutta,266,3,3,18
19,fardinkamal62,263,2,2,19
19,Shagun,100,2,2,20
19,Vatsal,3408,2,2,21

In [44]:
output_df.to_excel('output2.xlsx' , index = False)